<div class="card card-body bg-light">
    <h2>Enter a zipcode:</h2>
    <form #zipcodeForm="ngForm">
        <input
                class="form-control"
                placeholder="Zipcode"
                required
                type="text"
                name="zipcode"
                id="zipcode"
                [(ngModel)]="formModel.zipcode"
        />
        <br/>
        <app-autocomplete-select [name]="'country'" [options]="countryOptions" (optionSelect)="onSelect($event)"></app-autocomplete-select>
        <br/>
        <app-status-button id="addLocationBtn" [observable]="observable" [disabled]="!zipcodeForm.form.valid" [type]="'submit'" [cssClassConfig]="cssClassConfig">
            <ng-container inital>
                Add Location
            </ng-container>
            <ng-container waiting>
                Adding...
            </ng-container>
            <ng-container done>
                <i class="bi bi-check2-circle"></i> Done
            </ng-container>
        </app-status-button>
    </form>
</div>
