<div class="card card-body bg-light">
    <h2>Enter a zipcode:</h2>
    <form (ngSubmit)="onAddLocation();this.zipcodeForm.resetForm();" #zipcodeForm="ngForm">
        <input
                class="form-control"
                placeholder="Zipcode"
                required
                type="text"
                name="zipcode"
                id="zipcode"
                [(ngModel)]="formModel.zipcode"
        />
        <br/>
        <app-autocomplete-select [name]="'country'" [options]="countryOptions" (optionSelect)="onSelect($event)"></app-autocomplete-select>

        <br/>
        <button
                type="submit"
                [disabled]="!zipcodeForm.form.valid"
                class="btn btn-primary"
                id="addLocationBtn"
        >
            Add Location
        </button>
    </form>
</div>
