<input
        class="form-control"
        placeholder="Type to select..."
        type="text"
        id="{{name}}-search"
        name="{{name}}-search"
        autocomplete="off"
        (focusin)="onFocusIn()"
        [ngModel]="searchValue"
        (ngModelChange)="filterOptions($event)"
/>
<ng-container *ngIf="_isPanelOpen | async">
    <ul class="dropdown-list">
        <li *ngFor="let option of _filteredOptions" (click)="selectOption(option)" [innerHTML]="option.html">
        </li>
    </ul>
</ng-container>